/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

body {
    width: 100%;
    height: 100%;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
}

p {
    font-size:16px;

}

.btn-primary {
    padding: 8px 20px;
    background: #fff;
    color: #000;
    border-radius: 0;
    border:none;
    margin-top: 10px;
}

.btn-primary:hover, 
.btn-primary:focus{
    background: #fff;
    color:#68A4C4;
    outline: none;
    box-shadow: none;
} 


/* --- logo --- */
@media (max-width: 767px) {
    .site-logo {	
        margin-top:15px;
        margin-bottom:10px;
    }
}

@media (min-width: 768px) {
    .site-logo {	
        margin-top:40px;
        margin-bottom:40px;
    }
}

.site-logo a.brand {
    color: #5e5e5e;	
    font-family:'Open Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1px;

}

.site-logo span {
    color: #68A4C4;	
    font-family:'Open Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1px;

}
.site-logo a.brand:hover {
    text-decoration:none;
}

/* ------- Navigation ------------ */

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    padding:30px;
}

.navbar-fixed-top ul.nav li a {
    font-size: 14px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-fixed-top.top-nav-collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}

.navbar-fixed-top ul.nav ul.dropdown-menu {
    border-radius: 0;	
    margin-top: 21px;
    border-top: none;
}

.navbar-fixed-top ul.nav li a:hover ul.dropdown-menu {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li:last-child{
    border-bottom: none;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li a {
    padding: 10px 20px;
}

.navbar-fixed-top.top-nav-collapse ul.nav ul.dropdown-menu li a {
    color: #666;
}

.navbar-fixed-top .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-fixed-top .nav li a:hover,
.navbar-fixed-top .nav li a:focus,
.navbar-fixed-top.nav li.active {
    outline: 0;

    color:#68A4C4 ;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 18px;
    color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.slider {
    padding-top:110px; /*50*/
}

#carousel-slider {
    position: relative;
}

#carousel-slider .carousel-indicators {
    bottom: -25px;
}

#carousel-slider .carousel-indicators li {
    border: 1px solid #ffbd20;
}

#carousel-slider a i {
    border: 1px solid #134153;
    border-radius:50%;
    font-size: 30px;
    height: 75px;
    padding: 8px;
    position: absolute;
    top: 40%; 
    width: 76px;
    color:#fff;
    /*background:#F77CAD;*/
    background-image: url(../images/logo_small1.png)
}

#carousel-slider a i:hover {
    /*background:#F77CAD;*/
    color:#fff;
    /*border: 1px solid #F77CAD;*/
    background-image: url(../images/logo_small2.png)
}

#carousel-slider 
.carousel-control {
    width:inherit;
}

#carousel-slider .carousel-control.left i {
    left:20px
}

#carousel-slider .carousel-control.right i {
    right: 20px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
    background: none;
}

.center h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align:center;
    color:#000;
    text-transform:uppercase;
}

.center h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align:center;
    color:#000;
    text-transform:uppercase;
}

#gallery .lead {
    text-align:center;
    font-size:18px;
    margin-bottom:40px;
}

#gallery {
    /*padding-top:40px;*/
    position:center;
    margin-top: 80px;
}


.portfolio-items, 
.portfolio-filter {
    list-style: none outside none;
    margin: 0 0 40px 0;
    padding: 0;
}

.portfolio-filter > li {
    display: inline-block;
}

.portfolio-filter > li a {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
    text-transform: uppercase;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 0;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
    color:#fff;
    background: #68A4C4 ;
    border: 1px solid #68A4C4 ;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.portfolio-items > li {
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio-item {
    margin: 0;
    padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


.recent-work-wrap {
    position: relative;
}

.recent-work-wrap img{
    width: 100%;
}

.recent-work-wrap .recent-work-inner{
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
    margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
    font-size: 24px;
    color: #fff;
}

.recent-work-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: #333;
    background-color:rgba(51, 51, 51, 0.5);
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;  
    padding: 30px;
}

.recent-work-wrap .overlay .preview {
    bottom: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    background: transparent;
    text-align: center;
    color: #fff;
}

.recent-work-wrap:hover .overlay {
    opacity: 1;
}

#about  {
    margin-top:80px;
    /*margin-bottom:40px;*/
}

#about .lead {
    text-align:center;
    font-size:18px;
    margin-bottom:50px;
}

#about  img {	
    margin-bottom:40px;
}

.panel-default{
    border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
    background-color: #e6e6e6; 
    border:0 none;
    box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
    background: #fff;
    color: #858586;
}

.panel-body{
    padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
    margin-top: 20px;
    border-top: 1px solid #fff;
}

.panel-group .panel{
    border-radius: 0;
}

.panel-heading{
    border-radius: 0;
}

.panel-title>a{
    color: #4e4e4e;
}

.accordion-inner img{
    border-radius: 4px;
}


.panel-heading.active{
    background: #1f1f20;
}

.panel-heading.active .panel-title>a{
    color:#fff;
}

a.accordion-toggle  i{
    width: 40px;
    line-height: 38px;
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
    margin-right: -15px;
    background: #68A4C4;
    color:#fff;
}

.panel-heading.active a.accordion-toggle i{
    background: #68A4C4;
    color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
    background: #68A4C4;
    color: #fff;
}

#services {
    /*margin-top:50px;*/
    /*padding:50px;*/
    margin-top: 80px;
    /*    margin-bottom: 30px;*/
    text-align:center;
}

#services .lead {
    text-align:center;
    font-size:18px;
    margin-bottom:50px;
}

#services img {
    border-radius:30%;
    margin-top:30px;
    /*    margin-bottom:40px;*/
}

/* --- Map --- */
.map{
    position:relative;
    /*    padding-top:5px; */
    /*    margin-top:50px;*/

}

.map iframe{
    width:100%;
    height:400px;
    border-color: #68A4C4;
    border-width: 1px;
}

.map-grid iframe{
    width:100%;
    height:350px;
    border:none;
    margin:0 0 -5px 0;
    padding:0;
}

.contact-page{
    padding-top: 40px;
    /*    background:#68A4C4;*/
    margin-top:-10px;
}

.contact-page .contact-form 
.form-group label {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 300;
}

.form-group .form-control {
    padding: 7px 12px;
    border-color:#f2f2f2;
    box-shadow: none;
    border-radius:0;
}

textarea#message{
    resize: none;
    padding: 10px;
    height: auto;
    font-size: 14px;
}

.contact-page .contact-wrap {
    margin-top: 20px;
}


#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #68A4C4;
    background: #f8f8f8;
}

#footer a {
    color: #68A4C4;
}

#footer a:hover {
    color: #428bca;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:center;
}

#footer ul > li {
    margin-top:20px;
    margin-bottom:30px;
    display: inline-block;
    margin-left: 15px;
    text-align:center;
}
.midnight-blue {
    text-align:center;

}

.text-center {
/*    margin-bottom:20px;*/
    font-size:30px;

}

#contact {
    /*margin-top:50px;*/
    /*padding:50px;*/
    text-align:center;
    margin-top: 80px;
    margin-bottom: 10px;
}

#contact .lead {
    text-align:center;
    font-size:18px;
    margin-bottom:50px;
}

#contact img {
    border-radius:30%;
    margin-top:30px;
    margin-bottom:40px;
}

.address {
    padding-bottom: 25px;
}

.navbar-collapse {
    border-top: 0px solid transparent;
}

/* Contact form start */
#salesInquiryForm .icon-ok {
    font-size: 25px;
    margin: 5px;
    color: #68A4C4;
}
#salesInquiryForm .icon-remove {
    font-size: 15px;
    margin: 10px;
    color: #a94442;
}

#simpleForm .icon-ok {
    font-size: 25px;
    margin: 5px;
    color: #68A4C4;
}
#simpleForm .icon-remove {
    font-size: 15px;
    margin: 10px;
    color: #a94442;
}
div#messages {
    /*    padding: 25px;*/
}
.has-success .form-control {
    border-color: #68A4C4;
}
.has-success .form-control:focus {
    border-color: #68A4C4;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #68A4C4;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #68A4C4;
}
.has-error .form-control {
    border-color: #a94442; 
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
textarea.form-control {
    height: auto;
    font-size: 14px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #333;
    background-color: #68A4C4;
    border-color: #adadad;
}

.form-input {

}

.g-recaptcha {
    display: inline-block;
}

.ajaxBusy {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .1 ) 
                url('../css/icons/ajax-busy.gif') 
                50% 50% 
                no-repeat;
}

/* Contact form end */